<% provide(:title, 'Home Page') %>

<% provide(:jumbotron, '
    <h1>Hello, world!</h1>
    <p>WOWOW cool, using rails + bootstrap to build an awesome fun flight finder</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
'.html_safe)%>
         <div>
           <label>Name:</label>
           <input type="text" ng-model="yourName" placeholder="Enter a name here">
           <hr>
           <h1>Hello {{yourName}}!</h1>
         </div>
